/* Change background colour */
body {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

.tag {
    font-size: 100%;
}


.m-t-1 {
    margin-top: 0px;
}

.single .single-description {
    font-size: 1.20rem;
}

/* font-family: 'Playfair Display', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Raleway', sans-serif; */

